%h3.title Add a meal

%form{:action => "/new", :method => "POST"}
    
    %p
    %label Breakfast
    %input{:type => "radio", :name => "meal[meal_type]", :value => "breakfast"} 
    %label Lunch
    %input{:type => "radio", :name => "meal[meal_type]", :value => "lunch"}
    %label Dinner
    %input{:type => "radio", :name => "meal[meal_type]", :value => "dinner"}
    %label Snack
    %input{:type => "radio", :name => "meal[meal_type]", :value => "snack"}
    %p
    %label Meal Description
    %input{:type => "text", :name => "meal[description]"}
    %p
    %label Ingredients
    %input{:type => "text", :name => "ingredients[name]"}
    
    %p
    %label Existing Ingredients
    - @ingredients.each do |ingredient|
        %input{:type => "checkbox", :name => "meal[ingredient_ids][]", :value => "#{ingredient.id}"} #{ingredient.name}
    %p 
    %input{:type => "submit", :value => "Add Meal"}/