%form{:action => "/new", :method => "POST"}
    %h3 Add a meal
    %p
    %label Breakfast
    %input{:type => "radio", :name => "meal[meal_type]", :value => "breakfast"}/ 
    %label Lunch
    %input{:type => "radio", :name => "meal[meal_type]"}/
    %label Dinner
    %input{:type => "radio", :name => "meal[meal_type]"}/
    %label Snack
    %input{:type => "radio", :name => "meal[meal_type]"}/
    %p
    %label Meal Description
    %input{:type => "text", :name => "meal[description]"}
    %p
    %label Ingredients
    %input{:type => "text", :name => "ingredients[name][]"}

    %p 
    %input{:type => "submit", :value => "Add Meal"}/