#landing
    #text
        %h1 Welcome to Food Journey
        %h3 A food journal app for your journey back to health.
        %p
            %a{ class: "button", href: "/signup" } Sign Up
            %a{ class: "button", href: "/login" } Login

