!!!
%html 
    %head
        %link{:href => "https://fonts.googleapis.com/css?family=Oswald:200,400", :rel => "stylesheet", :type => "text/css"}/
        %link{:href => "/stylesheets/style.css", :rel => "stylesheet", :type => "text/css"}/
    %title 
    %body
        = yield
    %footer
        %address &#169; Mike Etlinger 2017