#nav
    %ul
        %a(href="/")
            %image{ src: '../images/food_journey_white.png' }
        -if logged_in?
            %a(href="/dashboard/#{current_user.username}")
                %li Dashboard
            %a(href="/logout")
                %li Log out